div, p, .btn {
    transition: background-color 0.3s ease;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.navbar a {
    font-size: 1.5em !important;
}

/*#setup {
    width: 50vw;
}*/

.setup-item {
    margin-top: 20px;
}

.tones {
    margin-top: 5px;
}

#play-ctn {
    margin: 5px 0 5px 0;
}

.card {
    padding: 20px;
}

#note-card {
    width: 100%;
    padding: 5px;
}

#note-card p {
    margin: 0;
}

#toSetup-btn svg path{
    transition: stroke 0.5s ease-in-out;
}

#toSetup-btn:hover {
    stroke: currentColor;
}


.custom-control-input:focus,
.custom-control-label::before {
    border-color: #212529 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.custom-control-input:checked,
.custom-control-label::before {
    border-color: #212529 !important;
    background-color: #212529 !important;
}

.custom-control-input:active,
.custom-control-label::before {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.custom-control-input:focus:not(:checked), .custom-control-label::before {
    border-color: #212529 !important;
}